body {
    padding:0 0 100px 0px;
    margin: 0 0 0 0 0;
    overflow-x: hidden;
    background-color: #E8E8E8;
}


.container{
    margin-top: 70px;
    width: 100%;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    width:100%;
    min-height: 70px;
    position: fixed; 
    top: 0;
    background-color: white;

}
.navbar > h1.title {
    float: left;
    padding-top: 10px !important;
    
}
img {
    width: 100%;
    height: auto;
}
.title {
    color: blue;
    font-size: 20px;
    display:inline-block;
    margin-left: 70px;
    padding-right: 30%;
}
.navbar ul {
    display:inline;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;

}

.navbar ul li {
   float: left;
}

.navbar ul li a {
    display: inline-block;
    color: blue;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
    vertical-align:middle;
}

li a:hover {
    color: white !important;
    background-color: blue;
}
li a.active {
    color: white !important;
    background-color: blue;
}
.block   {
    text-align: center;
    margin-top: 90px;

}

 article  {
     display: inline-block;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    width:20%;
    min-height: 70px;
    top: 0;
    background-color: white;
    margin-right: 100px;
}

article div.name {
    margin-top: -40px;
    background-color: blue;
    color: white;
    height:250px;
 
}
div.name > h1 {
    padding-top: 30%;
    font-size: 40px;;
    
}
footer {

    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background:#000;
    color: white;
    text-align: center;
 }
 header {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
 }
 
#screen {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    margin-top: 30px;
    height: 250px;
    background-color: #ffffff;
}
canvas {
    display: list-item;
}
ส่งมาจาก Messenger
สิ้นสุดการสนทนาผ่านแชท
พิมพ์ข้อความ...

